<ul class="topnav" id="myTopnav">
  <li><a href="/"><img style="height: 18px;" src="images/pink-circle.svg" /></a></li>
  <li><a target="_blank" href="https://soundcloud.com/kiikoblak">Soundcloud</a></li>
  <li><a target="_blank" href="https://open.spotify.com/artist/12fzO7xcyUgAdJyua4yXte">Spotify</a></li>
  <li><a target="_blank" href="https://instagram.com/kiikoblak">Instagram</a></li>
  <!-- <li><a href="https://open.spotify.com/artist/12fzO7xcyUgAdJyua4yXte">Shop</a></li> -->

  <li class="icon">
    <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
  </li>
</ul>
