<!DOCTYPE html>
{{ partial "head.html" . }}

<body>
  {{ partial "header.html" . }}

  <div class="wrapper">

<section class="hero">
  <div class="cell well" id="img-hero">
    <img class="img-hero" src="images/head-chrome-words.png"/>
  </div>
</section>

<section class="bg-dark pad">
  <div class="cell">
    <h1 class="txt-white">Featured track</h1>

  <!-- soundcloud hero -->
  <div class="card" style="height:300px;">
    <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/347065018&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
  </div>
  <!-- end -->

  <div class="pad row">
    <h2 class="txt-white">Download this track free</h2>
    {{ partial "subscribe.html" . }}
  </div>
  </div>
</section>


<section class="bg-paleblue">
  <div class="cell pad">

    <!-- soundcloud 1 -->
    <div class="card" style="height:300px;">
      <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/340208740&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
    </div>
    <!-- end -->

    <!-- soundcloud 2 -->
    <div class="card" style="height:300px;">
      <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/279973415&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
    </div>
    <!-- end -->
    <!-- soundcloud 3 -->
    <div class="card" style="height:300px;">
      <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/319403125&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
    </div>
    <!-- end -->
    <!-- soundcloud playlist -->

    <div class="card" style="height:400px">
      <iframe width="100%" height="400" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/359913416&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
    </div>

    <!-- subscribe buttons  -->

    <!-- <br />
    <div class="row">
      <iframe src="https://open.spotify.com/follow/1/?uri=spotify:artist:12fzO7xcyUgAdJyua4yXte&size=basic&theme=light" width="200" height="30" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
      <a href="https://soundcloud.com/kiikoblak" target="_blank"><img title="SoundCloud (Buttons by NiftyButtons.com)" src="http://www.niftybuttons.com/soundcloud/soundcloud1.png"></a>
    </div>
    <br /> -->

    <!-- spotify player -->

    <div class="card" style="height: 400px">
      <iframe width="100%" height="400" src="https://open.spotify.com/embed/user/1222640685/playlist/0QpjihfKDpSFMh0rsAtGju" frameborder="0" allowtransparency="true"></iframe>
    </div>

  </div>
</section>

    {{ partial "footer.html" . }}

  </div>
</body>

</html>
