@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
    text-align: center;
    font-family: 'Roboto Mono';
    background-color: #F3F9FF;
}

.wrapper {
  margin: 0 auto;
  max-width: 750px;
}

.row{
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
}

.pad{
  padding: 2%;
}

.well{
  padding: 5% 0;
}

.card{
  margin: 5% 0px 5% 0px;
  height: 400px;
  box-shadow: 0 5px 10px rgba(7, 51, 84, 0.15);
}

.soundContainer .g-box-full{
  background-color: black !important;
}

.icon{
  width: 45px;
  margin: 30px 15px 15px 15px;
  transition: all .1s ease;
}

.icon:hover{
  opacity: .8
}

#icon-sc{
  width: 54px;
}
