@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');


:root{
  --lightblue: #78A2D4;
  --paleblue: #eaf3ff;
  --pink: #FFD1D1;
  --offwhite: #F3F9FF;
  --dark: #181818;
  --green: #2ECC71;
}

body {
    text-align: center;
    font-family: 'Montserrat';
    background-color: var(--offwhite);
    margin: 0 auto;
    font-size: 16px;
}

h1{
  font-size: 1.5em;
  letter-spacing: 1.5px;
  font-weight: 600;
}

p {
  color: var(--lightblue);
}

.txt-white{
  color: var(--offwhite);
}

section{
  max-width: 100%;
}

section.hero{
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  background-image:url(/images/whiteroom.png);
  background-size: cover;
  min-height: 300px;
}

.img-hero{
  max-width: 800px;
  width: 90%;
  margin-top: 70px;
}

#img-hero{}

.txt-pink{
  color:
}

.bg-paleblue{
  background-color: var(--offwhite) !important;
}

.bg-dark{
  background-color: var(--dark);
}

.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.row{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.space-between{
  justify-content: space-around;
}

.pad{
  padding: 10px;
}

.cell{
  max-width: 1000px;
  margin: 0 auto;
}

.well{
  padding: 4% 0;
}

.card{
  margin: 20px 0px 20px 0px;
  height: 400px;
  box-shadow: 0 5px 10px rgba(7, 51, 84, 0.08);
  border-radius: 4px;
}

.card-100{
  margin: 20% 0px 5% 0px;
  height: 100%;
  box-shadow: 0 5px 10px rgba(7, 51, 84, 0.08);
}

.soundContainer .g-box-full{
  background-color: black !important;
}

.social-icon{
  width: 45px;
  margin: 30px 15px 15px 15px;
  transition: all .1s ease;
}

.social-icon:hover{
  opacity: .8
}

#icon-sc{
  width: 54px;
}

.item-overlay {
  position: absolute;
  z-index: 2;
  top: 100%;
  padding: 1rem;
  transform: translateY(-4em);
  color: #ededed;
  transition: transform .5s ease-in-out;
}

/* NAV */

/*.nav-colored { background-color:#000 !important; }
.nav-transparent { background-color:transparent !important;}*/

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  border-bottom: 1px solid var(--paleblue);
  position: fixed;
  width: 100%;
  box-shadow: 0 5px 10px rgba(7, 51, 84, 0.03);
  position: fixed;
  top: 0;
  z-index: 9999;
}

/* Float the list items side by side */
ul.topnav li {float:left;}

/* Style the links inside the list items */
ul.topnav li a {
  display: inline-block;
  color: var(--lightblue);
  text-align:center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {
  background-color: var(--paleblue);
}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display:none;}
  ul.topnav li.icon {
    float:right;
    display: inline-block;
    background-color: white !important;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
  ul.topnav.responsive, ul.topnav {
    background-color: white !important;
    position:fixed;
    top: 0;
    z-index: 9999;
    box-shadow: 0 5px 10px rgba(7, 51, 84, 0.15);
  }
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
  }

  ul.topnav.responsive li {
    float:none;
    display:inline;
  }

  ul.topnav.responsive li a {
    display:block;
    text-align:left;
  }
}
